<html>

<head>
  
  <title>Panes demo</title>

  <link rel="stylesheet" href="/style.css" media="all" />
  
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/jquery-postmessage.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/jstorage.min.js"></script>  
  
  <script type="text/javascript" charset="utf-8" src="/panes.js"></script>
  
</head>

<body>
  
<div class="container">
  
<div class="left">
  
<h1>Sample page</h1>

<h2>My article</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet velit felis, eu aliquet magna. Nullam purus ante, viverra vel porttitor eget, venenatis non odio. Nunc eget lacinia enim. Nam dolor libero, vestibulum in laoreet vitae, tempor non sapien. Quisque in risus nibh. Sed id ipsum nec nisi consectetur pulvinar nec sit amet nisi. Suspendisse potenti. Mauris eget tortor malesuada lorem pretium eleifend mollis id felis. Nunc sagittis, felis eleifend pharetra pellentesque, magna est bibendum dui, ultricies gravida lorem arcu a tellus. Sed sollicitudin rhoncus varius. Nunc luctus, augue at euismod commodo, ipsum diam tempus magna, eu pulvinar est nulla ac felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed condimentum nisl nec erat egestas sodales. Curabitur venenatis tristique nibh, eget posuere lectus ullamcorper et.</p>

<p>Praesent urna diam, porttitor vitae ultrices vel, rhoncus a lorem. Donec consectetur massa eu sem venenatis sit amet pretium felis ullamcorper. Suspendisse potenti. Ut mollis lectus neque. Phasellus venenatis consequat justo, id commodo augue commodo quis. Aliquam erat volutpat. Donec viverra sapien eu eros semper sed pulvinar eros varius. Suspendisse vitae turpis urna. Fusce nec iaculis mi. Suspendisse augue justo, rhoncus cursus mollis in, tempus vitae nibh. Phasellus pharetra urna eget magna lobortis ultrices. Maecenas a dolor nec massa commodo auctor sed eu erat. Integer faucibus nisi ac tellus ornare pulvinar.</p>

<p>In velit purus, interdum quis tristique ut, facilisis eu nulla. Nullam porttitor blandit vestibulum. Aenean aliquam eros eget felis placerat non hendrerit mauris varius. Etiam pellentesque, tortor ut suscipit pretium, nibh dolor cursus quam, non vehicula ante velit posuere mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus facilisis lectus sit amet laoreet. Maecenas vestibulum felis id quam feugiat bibendum. Ut vehicula suscipit mi nec hendrerit. Pellentesque tortor dui, ultrices laoreet pellentesque a, pharetra vitae justo.</p>

</div>

<div class="right">
  
  <h3>Ad Pane</h3>
  
  <div class="pane" id="ad">
  </div>
  
  <h3>Sidebar</h3>
  
  <div class="pane" id="sidebar">
  </div>
  
</div>

</div>

</body>
</html>